<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{>header}}

    <p><font color='#D2691E'><blockquote>{{projectsPageText}}</blockquote></font></p>

  </body>
  {{> footer}}
</html>
